<!-- Call to action -->
<section class="pb-20 relative block bg-gray-900">
	<div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20" style="height: 80px;">
		<svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="none" version="1.1" viewbox="0 0 2560 100" x="0" y="0">
			<polygon class="text-gray-900 fill-current" points="2560 0 2560 100 0 100"></polygon>
		</svg>
	</div>
	<div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
		<div class="flex flex-wrap text-center justify-center">
			<div class="w-full lg:w-6/12 px-4">
				<h2 class="text-4xl font-semibold text-white">Build something</h2>
				<p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
					Put the potentially record low maximum sea ice extent tihs year
												                down to low ice. According to the National Oceanic and
												                Atmospheric Administration, Ted, Scambos.
				</p>
			</div>
		</div>
		<div class="flex flex-wrap mt-12 justify-center">
			<div class="w-full lg:w-3/12 px-4 text-center">
				<div class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
					<i class="fas fa-medal text-xl"></i>
				</div>
				<h6 class="text-xl mt-5 font-semibold text-white">
					Excelent Services
				</h6>
				<p class="mt-2 mb-4 text-gray-500">
					Some quick example text to build on the card title and make up
												                the bulk of the card's content.
				</p>
			</div>
			<div class="w-full lg:w-3/12 px-4 text-center">
				<div class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
					<i class="fas fa-poll text-xl"></i>
				</div>
				<h5 class="text-xl mt-5 font-semibold text-white">
					Grow your market
				</h5>
				<p class="mt-2 mb-4 text-gray-500">
					Some quick example text to build on the card title and make up
												                the bulk of the card's content.
				</p>
			</div>
			<div class="w-full lg:w-3/12 px-4 text-center">
				<div class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
					<i class="fas fa-lightbulb text-xl"></i>
				</div>
				<h5 class="text-xl mt-5 font-semibold text-white">Launch time</h5>
				<p class="mt-2 mb-4 text-gray-500">
					Some quick example text to build on the card title and make up
												                the bulk of the card's content.
				</p>
			</div>
		</div>
	</div>
</section>
