{% extends 'base.html.twig' %}

{% block title %}Home Page
{% endblock %}

{% block body %}
	{% include "home/_navbar.html.twig" %}
	<main>
		{% include "home/_hero.html.twig" %}
		{% include "home/_feature.html.twig" %}
		{% include "home/_stats.html.twig" %}
		{% include "home/_team.html.twig" %}
		{% include "home/_cta.html.twig" %}
		{% include "home/_contact.html.twig" %}
	</main>
	{% include "home/_footer.html.twig" %}
{% endblock %}
