<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#000000"/>
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('images/apple-icon.png') }}"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css"/>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/compiled-tailwind.css') }}">
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
            {# {{ importmap() }} #}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="text-gray-800 antialiased"> {% block body %}{% endblock %}
		</body>
	</html>
